$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$black: hsl(208.6, 33.3, 12.4);
$white: hsl(0, 0%, 100%);


$font-family-primary: 'Libre Franklin', sans-serif;